{% extends 'base/base.html' %}

{% load static %}

{% block title %}Artists{% endblock %}

{% block content %}

{% include 'base/sidebar.html' %}

{% include 'base/navbar.html' %}

<!---Main Content Start--->
<div class="ms_content_wrapper padder_top80">

    <!---Featured Artists Music--->
    <div class="ms_featured_slider padder_top20">
        <div class="ms_heading">
            <h1>Featured Artists</h1>
        </div>
        <div class="ms_relative_inner">
            <div class="ms_feature_slider swiper-container">
                <div class="swiper-wrapper">
                    {% for artist in all_artists %}
                        <div class="swiper-slide"><a href="{% url 'artists-details' sid=song.id artist_id=artist.id %}">
                        <div class="ms_rcnt_box">
                            <div class="ms_rcnt_box_img">
                                <img src="{{ artist.image.url }}" alt="">
                                <div class="ms_main_overlay">
                                    <div class="ms_box_overlay"></div>
                                    <div class="ms_more_icon">
                                        <img src="{% static 'images/svg/more.svg' %}" alt="">
                                    </div>
                                    <ul class="more_option">
                                        <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_queue"></span></span>Add To Queue</a></li>
                                        <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_dwn"></span></span>Download Now</a></li>
                                        <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                        <li><a href="#"><span class="opt_icon"><span
                                                class="icon icon_share"></span></span>Share</a></li>
                                    </ul>
                                    <div class="ms_play_icon">
                                        <img src="{% static 'images/svg/play.svg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="ms_rcnt_box_text">
                                <h3>{{ artist.artistName }}</h3>
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next1 slider_nav_next"></div>
            <div class="swiper-button-prev1 slider_nav_prev"></div>
        </div>
    </div>
    <!----Top Artist Section---->
    <div class="ms_top_artist">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ms_heading">
                        <h1>Top Artists</h1>
                    </div>
                </div>
                {% for artist in all_artists %}
                <div class="col-lg-2 col-md-6"><a href="{% url 'artists-details' sid=song.id artist_id=artist.id %}">
                    <div class="ms_rcnt_box marger_bottom30">
                        <div class="ms_rcnt_box_img">
                            <img src="{{ artist.image.url }}" alt="" class="img-fluid">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3>{{ artist.artistName }}</h3>
                        </div>
                    </div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!----Main div close---->
</div>

{% include 'base/copyright.html' %}

{% include 'base/audioplayer.html' %}

{% endblock %}